<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ae.sc</key>
    <string>ae.sc.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c.sc</key>
    <string>c.sc.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d.alt</key>
    <string>d.alt.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.sc</key>
    <string>e.sc.glif</string>
    <key>eight.osf</key>
    <string>eight.osf.glif</string>
    <key>eight.tosf</key>
    <string>eight.tosf.glif</string>
    <key>eng.sc</key>
    <string>eng.sc.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_i</key>
    <string>f_i.glif</string>
    <key>f_l</key>
    <string>f_l.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.dnom</key>
    <string>five.dnom.glif</string>
    <key>five.lf</key>
    <string>five.lf.glif</string>
    <key>five.osf</key>
    <string>five.osf.glif</string>
    <key>five.tf</key>
    <string>five.tf.glif</string>
    <key>five.tosf</key>
    <string>five.tosf.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>germandbls.sc</key>
    <string>germandbls.sc.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>h.sc</key>
    <string>h.sc.glif</string>
    <key>i.sc</key>
    <string>i.sc.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>idotless.sc</key>
    <string>idotless.sc.glif</string>
    <key>j.sc</key>
    <string>j.sc.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>jdotless.sc</key>
    <string>jdotless.sc.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>k.sc</key>
    <string>k.sc.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m.sc</key>
    <string>m.sc.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.sc</key>
    <string>n.sc.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>o.sc</key>
    <string>o.sc.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>oe.sc</key>
    <string>oe.sc.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.sc</key>
    <string>r.sc.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.sc</key>
    <string>t.sc.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>thorn.sc</key>
    <string>thorn.sc.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.dnom</key>
    <string>three.dnom.glif</string>
    <key>three.lf</key>
    <string>three.lf.glif</string>
    <key>three.osf</key>
    <string>three.osf.glif</string>
    <key>three.tf</key>
    <string>three.tf.glif</string>
    <key>three.tosf</key>
    <string>three.tosf.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.dnom</key>
    <string>two.dnom.glif</string>
    <key>two.lf</key>
    <string>two.lf.glif</string>
    <key>two.tf</key>
    <string>two.tf.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u.sc</key>
    <string>u.sc.glif</string>
    <key>v.sc</key>
    <string>v.sc.glif</string>
    <key>w.sc</key>
    <string>w.sc.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero.osf</key>
    <string>zero.osf.glif</string>
    <key>zero.tosf</key>
    <string>zero.tosf.glif</string>
  </dict>
</plist>
