<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1000</integer>
    <key>capHeight</key>
    <integer>740</integer>
    <key>copyright</key>
    <string>Copyright 2025 The Kierkegaard Font Project Authors (https://github.com/jrgdrs/Kierkegaard)</string>
    <key>descender</key>
    <integer>-300</integer>
    <key>familyName</key>
    <string>Kierkegaard Serif</string>
    <key>italicAngle</key>
    <integer>-10</integer>
    <key>openTypeHeadCreated</key>
    <string>2025/10/05 10:34:53</string>
    <key>openTypeHheaAscender</key>
    <integer>1124</integer>
    <key>openTypeHheaDescender</key>
    <integer>-500</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Jörg Drees</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.typobold.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://openfontlicense.org</string>
    <key>openTypeNameManufacturer</key>
    <string>Jörg Drees</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.typobold.com</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1124</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-500</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>TBLD</string>
    <key>openTypeOS2WeightClass</key>
    <integer>800</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1428</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>500</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-16</integer>
      <integer>0</integer>
      <integer>540</integer>
      <integer>556</integer>
      <integer>562</integer>
      <integer>578</integer>
      <integer>740</integer>
      <integer>756</integer>
      <integer>1000</integer>
      <integer>1016</integer>
    </array>
    <key>postscriptFontName</key>
    <string>KierkegaardSerifText-ExtraBoldItalic</string>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-316</integer>
      <integer>-300</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>42</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>163</integer>
    </array>
    <key>styleMapStyleName</key>
    <string>italic</string>
    <key>styleName</key>
    <string>ExtraBold Italic</string>
    <key>unitsPerEm</key>
    <integer>1156</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>36</integer>
    <key>xHeight</key>
    <integer>540</integer>
  </dict>
</plist>
